<div class="person-root-container">
  <button
    mat-raised-button
    color="primary"
    class="add-files-btn"
    (click)="setNewPerson()"
  >
    New Person
  </button>
  <div class="list-edit-container">
    <app-persons-list
      [persons]="persons$ | async"
      [personSelected]="personSelected"
      (personSelectRequest)="onPersonSelectRequest($event)"
      class="list-edit-contained"
    ></app-persons-list>
    <mat-card class="list-edit-contained">
      <app-person-edit
        *ngIf="personSelected"
        [person]="personSelected"
        (savePersonRequested)="onSavePersonRequested($event)"
      ></app-person-edit>
    </mat-card>
  </div>
</div>
