<mat-card>
  <form
    class="person-edit-form"
    [formGroup]="personFormGroup"
    (ngSubmit)="savePerson()"
  >
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="First Name"
        formControlName="formControlFirstName"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Last Name"
        formControlName="formControlLastName"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="formControlGender">
        <mat-option *ngFor="let gender of genders" [value]="gender.id">
          {{ gender.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="display: none">
      <input
        matInput
        placeholder="Picture Url"
        formControlName="formControlPicUrl"
      />
    </mat-form-field>
    <input
      type="file"
      #file
      style="display: none"
      (change)="onFilesAdded()"
      multiple
    />
    <div class="pic-container">
      <div class="img-container">
        <div *ngIf="!person.picUrl" class="no-img-container">
          <span>No image uploaded.</span>
        </div>
      </div>
      <div class="btn-set-container">
        <button mat-raised-button color="primary">
          Set Pic
        </button>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="personFormGroup.invalid"
      mat-raised-button
      color="primary"
    >
      Save
    </button>
  </form>
</mat-card>
