.person-edit-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  .example-full-width {
    width: 100%;
  }
  .pic-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #949494;
    margin-bottom: 10px;
    .img-container {
      min-width: 210px;
      min-height: 280px;
      // background-color: yellow;
      .no-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
      }
    }
    .btn-set-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
